body {
	position: relative;
	margin: 0;
	background-color: transparent;
	background-image: url("../images/cheap_diagonal_fabric.png");
	padding: 0;
	min-height: 100vh;
}
footer {
	position: absolute;
	bottom: 0;
	float: left;
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
	width: 100%;
	height: 70px;
	text-align: center;
	color: #ffffff;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 12px;
}
h1 {
	border: 5px;
	background-color: #4aaaa5;
	padding: 5px;
	width: 200px;
	color: #ffffff;
	font-family: 'Georgia', Times, 'Times New Roman',serif;
}
a {
	float: right;
	align-content: center;
	padding: 8px;
	text-decoration: none;
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
img {
	float: left;
	margin: 10px;
	margin-left: 20px;
	width: 160px;
	height: 210px;
}
ul {
	font-size: 14px;
}
hr {
	position: center;
	border: none;
	background-color: #ccc;
	width: 920px;
	height: 2px;
}
input {
	width: 910px;
	height: 20px;
}
textarea {
	margin-bottom: 10px;
	border-color: #ccc;
	width: 910px;
	height: 200px;
}
fieldset {
	margin: 10px;
	margin-bottom: 20px;
	border: none;
}
.title {
	margin-left: 10px;
	background-color: #ffffff;
	padding: 15px;
	padding-top: 20px;
	padding-bottom: 10px;
	color: #4aaaa5;
}
.portfolioImage {
	padding: 10px;
	width: 220px;
	height: 230px;
}
.content {
	align-content: center;
	margin: auto;
	margin-top: 0;
	border: 1px, solid, #666666;
	background-color: #ffffff;
	padding-top: 0;
	width: 960px;
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
#header {
	border-top: 20px;
	background-color: #ffffff;
	padding-left: 25vh;
	text-align: center;
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
#images {
	overflow: hidden;
}
#links {
	float: right;
	border-right: 2px solid #ccc;
	width: 30%;
	list-style-type: none;
}
#submit {
	margin-bottom: 6px;
	background-color: #4aaaa5;
	width: 100px;
	height: 40px;
	color: #ffffff;
	font-size: 15px;
}
#bioText {
	margin-left: 15px;
	padding: 10px;
	line-height: 2;
	letter-spacing: 2;
}